<.header>
  User <%= @user.email %>
  <%!-- <:actions>
    <.link href={~p"/url/#{@url}/edit"}>
      <.button>Edit url</.button>
    </.link>
  </:actions> --%>
</.header>

<.list>
  <:item title="Email"><%= @user.email %></:item>
</.list>
